################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AuricBll
/AuricCore/bin/Debug/netcoreapp2.0
/AuricCore/Controllers/EkubApiController.cs
/AuricCore/Controllers/EthiopianCalendarInfoController.cs
/AuricCore/Controllers/HomeController.cs
/AuricCore/Models/AccountBindingModels.cs
/AuricCore/Models/AccountViewModels.cs
/AuricCore/Models/ErrorViewModel.cs
/AuricCore/Models/User.cs
/AuricCore/node_modules
/AuricCore/obj
/AuricCore/Views
/AuricCore/wwwroot/app
/AuricCore/wwwroot/images
/AuricCore/wwwroot/lib/js
/AuricCore/bundleconfig.json
/AuricCore/gulpfile.js
/AuricDal/bin/Debug/netcoreapp2.0
/AuricDal/obj
/AuricDal/Repositories/EthioDaysRepository.cs
/AuricDal/Repositories/EthiopiaMonthsRepoistory.cs
/AuricDB/bin/Debug
/AuricDB/obj/Debug
/AuricDB
/node_modules
/yarn.lock
/Expense.sql
/AuricCore_AuricDBSqlite.sqlite
/AuricCore_AuricDBSqlite.sqlite.sqbpro
/AuricCore/wwwroot/lib/css
/.vs/config
/.vs/ExpenseTrackerCore/v15/Server/sqlite3
/.vs/ExpenseTrackerCore/v15/.suo
/ExpenseTrackerCore/bin/Debug/netcoreapp2.0
/ExpenseTrackerCore/node_modules
/ExpenseTrackerCore/obj/Debug/netcoreapp2.0
/ExpenseTrackerCore/obj
/ExpenseTrackerCore/Views
/ExpenseTrackerCore/wwwroot/app
/ExpenseTrackerCore/wwwroot/images
/ExpenseTrackerCore/wwwroot/lib
/ExpenseTrackerCoreBll/bin/Debug/netcoreapp2.0
/ExpenseTrackerCoreBll/Logges
/ExpenseTrackerCoreBll/obj
/ExpenseTrackerCoreDal/bin/Debug/netcoreapp2.0
/ExpenseTrackerCoreDal/obj
/ExpenseTrackerCoreDB
